<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/react.js"></script>
    <script src="../js/react-dom.js"></script>
    <script src="../js/browser.js"></script>
</head>
<body>
<div id="example"></div>
<script type="text/babel">
    var names = ['Alice', 'Emily', 'Kate'];
    var record=0;
    ReactDOM.render(
    <div>
    {
        names.map(function (name) {
                return <div key={'li'+record++}>Hello, {name}!</div>
            })
    }
    </div>,
            document.getElementById('example')
    );
</script>

</body>
</html>