<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/react.js"></script>
    <script src="../js/react-dom.js"></script>
    <script src="../js/browser.js"></script>
</head>
<body>
<script type="text/babel">
    var NotesList=React.createClass({
        render:function(){
            return(
                  <ul>
                    {
                        React.Children.map(this.props.children,function(child){
                                return <li>child</li>
                            })
                    }
                  </ul>
            )
        }
    })

    ReactDOM.render(
    <NotesList>
    <span>hello</span>
    <span>world</span>
    </NotesList>,
            document.body
    );
</script>
</body>
</html>