<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/react.js"></script>
    <script src="../js/react-dom.js"></script>
    <script src="../js/browser.js"></script>
</head>
<body>
   <div id="example">

   </div>
<script type="text/babel">
    var MyComponent=React.createClass({
        handleClick:function(){
           this.refs.TextInput.focus();
        },
        render:function(){
            return(
                    <div>
                            <input type='text' ref='TextInput'/>
                            <input type='button' value='clickme' onClick={this.handleClick}/>
                    </div>
            )
        }
    })
    ReactDOM.render(
            <MyComponent />,
            document.getElementById('example')
    )
</script>
</body>
</html>